<% include ../includes/header %>

<!-- nav bar -->
<% include ../includes/nav %>

<!-- Organize data -->

<!-- page title -->
<title>Community | <%= title %></title>

<!-- Content starts here -->
<!--
<div class="container" id="tag_container">

	<span class="label btnCat label-default" name="all">All</span>
	<span class="label btnCat label-default" name="news">News</span>
	<span class="label btnCat label-default" name="events">Events</span>
	<span class="label btnCat label-default" name="tutorials">Tutorials</span>
	<span class="label btnCat label-default" name="hardware">Hardware</span>
	<span class="label btnCat label-default" name="software">Software</span>
	<span class="label btnCat label-default" name="headware">Headware</span>
	<span class="label btnCat label-default" name="research">Research</span>

</div>
-->
<br><br>
<div class="container" id="author_container">
	<!--
	<% data.authors.forEach(function(author, i) { %>
		<button><%= author %></button>
	<% }) %>
-->
</div>

<div class="container" id="masonry_container">
	<script>
		var total_posts = <%- data.blogs.length %>;
	</script>
	<% data.blogs.forEach(function(post, i) { %>
		<div class="masonry_item">
			<a class="post_link" href="/community/blog/<%= post.id %>">
				<div class="image_container">
					<img class="com_cover_image" src="<%- post.thumbnail %>" alt="cover image">
					<span class="label label-default"><%= post.author %></span>
				</div>
			</a>
				
			<h3><%- post.title %></h3>
			<p><%- post.summary %>...
			</p>
				<div class="label_container">
					<span class="label label-info"><%= post.timeAgo %></span>
					<span> in </span>
					<% post.categories.forEach(function(cat, i) { %>
						<span class="label label-success labelFilter labelFilter_<%- cat %>"><%- cat %></span>
					<% }); %>
				</div>
			</div>
		
	<% }); %>
</div>
<div class="container" id="loader_container">
	<img height="40" class="loader" src="/img/ajax-loader.gif">
</div>

<script src="../js/masonry.pkgd.min.js"></script>
<script src="../js/imagesloaded.pkgd.min.js"></script>
<script src="../js/community.js"></script>

<!-- footer -->
<% include ../includes/footer %>
