<% include ../includes/header %>

<!-- nav bar -->
<% include ../includes/nav %>

<!-- Organize data -->

<!-- page title -->
<title><%= title %></title>

<!-- Content starts here -->

<div class="container" id="masonry_container">
	<% data.forEach(function(post, i) { %>
		<div class="masonry_item">
			<%- post.title %>
			/community/<%= post.id %>
			<%= post.author %>
			<%= post.timeAgo %>
			<%- post.summary %>... 
			<%= post.image %>
			<%- post.categories %>
		</div>
	<% }); %>
</div>

<!-- footer -->
<% include ../includes/footer %>
