<% include ../includes/header %>

<!-- nav bar -->
<% include ../includes/nav %>

<!-- Organize data -->

<!-- page title -->
<title><%= title %></title>
<!-- Inject style -->

<!-- Content starts here -->
<div class="container" style="margin-top: 30px;">
	<h2><%- data.title %></h2>
	<span class="label label-edit label-primary">
		<%- data.author %>
	</span>
	<span class="label label-edit label-info">
		<%= data.timeAgo %>
	</span>
	<p>
		<%- data.body %>
	</p>
</div>

<!-- footer -->
<% include ../includes/footer %>
