<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="../css/lightbox.css">
  <link href='../css/flatdoc-style.css' rel='stylesheet'>
  <link href="../css/docs_style.css" rel='stylesheet'>
  <link href="../img/favicon.ico" rel="shortcut icon">

  <!-- Meta -->
  <meta content="OpenBCI" property="og:title">
  <meta content="Open Source Brain Computer Interface Platform" name="description">

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>

</head>
<body role='flatdoc'>
<nav>
  <div class='header headerColor'>
    <div class='left'>
        <a href="http://openbci.com"><img class="headerlogo" src ="../img/headerlogofront.png"/></a>
        <a href="http://openbci.com"><div class ="openbciheader">O<span class ="shorterlogo">PEN</span>BCI<span id="headerTrademark">TM</span></div></a>

    </div>
    <div class='right'>
      <ul>
        <li><a href='http://openbci.com/index.php/forum/'>FORUM</a></li>
        <li><a href='https://github.com/openbci/docs'>GITHUB</a></li>
        <li><a href='https://github.com/openbci/docs/issues'>ISSUES</a></li>
        <li><a id="editLink" href>EDIT</a></li>
        <li><a href>SUBMIT</a></li>
        <li><iframe src="http://ghbtns.com/github-btn.html?user=openbci&amp;repo=docs&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
      </ul>
    </div>
  </div>
  <div class="subnav">
	<% for(var i = 0; i < JSON.parse(mdList).length; i++) { %>
    <script>console.log('BOOM');</script>
		<a href="/<%- JSON.parse(mdList)[i].cat %>">
      <span>
        <%- JSON.parse(mdList)[i].cat %>
      </span>
    </a>
	<% } %>
  </div>
</nav>
  <div class='content-root'>
    <div class='menubar menuSize'>
      <div class='menu section' role='flatdoc-menu'></div>
    </div>
    <div role='flatdoc-content' class='content'></div>
  </div>

  <!-- Flatdoc -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- For old browsers -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
  <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js'></script>
  <!-- Relevant things are here -->
  <script src='../js/flatdoc.js'></script>
  <!-- Flatdoc theme scrolling stuff -->
  <script src='../js/white-theme-script.js'></script>
  <!-- For Lightbox -->
  <script type="text/javascript" src="../js/vendor/lightbox.min.js"></script>
    <!-- Initializer -->
  <script>
    console.log('THE HAPPENING');
    Flatdoc.run({
      fetcher: Flatdoc.file('https://rawgit.com/OpenBCI/Docs/<%= branch %>/<%= mdUrl %>')
    });
    var prefixUrl = "<%= prefixUrl %>",
        mdList = <%- mdList %>,
        category = "<%- category %>";
    
    // console.log(category);    

    $('#editLink').attr({
      href: 'https://github.com/OpenBCI/docs/edit/<%= branch %>/<%= mdUrl %>'
    });
  </script>
  <script src='../js/docs_main.js'></script>

</body>
</html>
